<%- include("header") -%>

<h2>This is about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro modi, ea voluptate aspernatur reiciendis nulla! Amet labore, laboriosam voluptatum possimus, rem architecto voluptate dolorum deleniti quae sit aliquid hic nobis.</p>

<%- include("footer") -%>